
{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">

<h1>Recipe Details</h1>
        <div class="items-container">
            <div class="item">
                <h2>Homemade Chicken Soup</h2>
                <img class="detail-img" src="{{ instance.image_url}}" alt="recipe-image">
                <div class="time">
                    <img src="{% static 'images/clock.png' %}">
                    <p>{{ instance.time }}</p>
                </div>
                <h3>Ingredients</h3>

                <ul>
                    {% for ingr in list_of_ingredients %}
                    
                        <li>{{ ingr}}</li>

                    {% endfor %}
                    
                </ul>
                <h3>How to prepare?</h3>
                <div class="recipe-info-full">
                    {{ instance.description}}
                </div>
                <div class="buttons-container">
                    <a class="button edit" href="{% url 'edit' instance.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete' instance.pk %}">Delete</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}